[Unit]
Description=Detection Aggregation Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/detection-aggregator
ExecStart=/usr/local/bin/detection-aggregator
Restart=always
RestartSec=5
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=detection-aggregator

[Install]
WantedBy=multi-user.target