#------------------------------------------------------------------------
#  This workflow installs dependencies using Poetry
#  and runs tests on pull requests to the main branch.
#  It caches the virtual environment to speed up subsequent runs.
# Copied from https://github.com/marketplace/actions/install-poetry-action
#-------------------------------------------------------------------------
name: pr-build-poetry

on:
    pull_request:
      branches: [ main ]
    workflow_dispatch:

jobs:
  pr-build-poetry:
    name: PR Build with Poetry
    runs-on: [self-hosted, linux, X64]
    container:
        image: starwitorg/sae-cv-python-image:0.0.4
        volumes:
            - ./:/code
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup
        run: |
          echo "POETRY_VER=$(poetry version -s)" >> $GITHUB_ENV
          echo "PYTHON_VER=$(python3 --version | cut -d ' ' -f 2)" >> $GITHUB_ENV
          python --version
          poetry --version

      #----------------------------------------------
      # install your root project, if required
      #----------------------------------------------
      - name: Install project
        run: |
          mv .venv/ /code/.venv/
          cd /code
          poetry install --no-interaction -vvv
      #----------------------------------------------
      #              run test suite
      #----------------------------------------------
      - name: Run tests
        run: |
          cd /code
          poetry run pytest

  
